$background-color: #dddddd;
$second-color: #A1CCC2;

* {
    margin: 0;
    font-family: 'Signika Negative';
}

.page {
    background-color: $background-color;

    .page-body {
        text-align: center;
        
        min-height: 68vh;
        max-width: 90%;
        margin: auto;

        display: flex;
        flex-direction: column;
        justify-content: center;

    }
}

.link {
    text-decoration: none;
    color: #000000;
}