$second-color: #A1CCC2;

.home {
    .card {
        height: 28rem;
        width: 20rem;
    }
}

.credits {
    .card {
        height: 15rem;
        width: 15rem;
    }
}

.card {
    border-radius: 10px;
    padding: 1rem;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    h2 {
        color: #cccccc;
        font-size: 1.5rem;
        text-transform: uppercase;
    }
}