.header {
    padding: 4vh;
    height: 11vh;

    background-image: 
        url('../../images/leaves_corner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .link {
        color: #ffffff;
        font-weight: 100;
        overflow: hidden;
    }

    h1 {
        font-size: 3rem;
    }
}